* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.container {
  background: #333;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: rgb(191, 201, 177);
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #088b0a;
  box-shadow: 0 5px 10px rgba(32, 78, 37, 0.22);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 7px solid #fff;
  box-shadow: 0 10px 60px rgba(32, 78, 37, 0.22);
}

.music-player h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  margin-top: 25px;
}

.music-player p {
  font-size: 0.8rem;
  color: #333;
  margin-top: 8px;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #088b0a;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 0;
}
