* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.container {
  width: 100%;
  height: 100vh;
  background: #c8dce2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #3a4452;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(78, 78, 78, 0.452),
    -10px -10px 10px rgba(78, 78, 78, 0.452);
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.4);
  background: transparent;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

form .answers {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .answers input {
  text-align: right;
  flex: 1;
  height: 70px;
  font-size: 3rem;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.348);
  border-radius: 5px;
  padding-right: 5px;
  color: rgb(27, 27, 27);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.calculator form input.equal {
  width: 150px;
}

form input.operator {
  color: rgb(8, 181, 200);
  background-color: #464e598a;
}
